:root {
	--clr-solid-medium: rgb(68, 107, 158);
	--bg-solid-medium: rgb(68, 107, 158);
	--clr-text-primary: rgb(77, 77, 77);
	--clr-text-shadow: rgba(255, 255, 255, 0.5);
	--clr-border-light: rgb(229, 231, 235);
	--clr-error: rgb(220, 20, 60);
}

body {
	font-family: Gordita, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
}

a {
	margin-right: 1rem;
}

main {
	text-align: center;
	padding: 1em;
	margin: 0 auto;
}

h1 {
	color: var(--clr-solid-medium);
	font-size: 4rem;
	font-weight: 100;
	line-height: 1.1;
	margin: 4rem auto;
	max-width: 14rem;
}

.c-login {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	height: 100vh;
	min-height: 400px;
	justify-content: center;
	align-items: center;
}

.c-login__header {
	font-weight: 100;
	font-size: 100px;
	line-height: 1;
	text-align: center;
	margin: 0;
}

.c-login__form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.c-login__form label {
	font-size: 1.3rem;
}

.c-login__form [id$='-error'] {
	color: var(--clr-error);
}

.c-login__form button {
	background-color: var(--bg-solid-medium);
	color: white;
	padding: 0.5rem 1rem;
	width: 100%;
	font-size: 1.5rem;
	border-color: var(--clr-border-light);
}

.c-login__email,
.c-login__password {
	padding: 0.5rem 1rem;
	border: 1px solid var(--bg-solid-medium);
	border-radius: 0.25rem;
	font-size: 1.3rem;
	display: block;
}

.c-info {
	max-width: 14rem;
	margin: 2rem auto;
	color: var(--clr-text-primary);
	font-size: 1em;
	text-shadow: 0 1px 0 var(--clr-text-shadow);
	text-align: center;
}

.c-info-learn {
	line-height: 1.35;
}

.c-info-learn a {
	margin: 0;
}

.c-info__pointer {
	cursor: pointer;
	color: inherit;
	text-decoration: none;
	font-weight: 400;
}

.c-info__pointer:hover {
	text-decoration: underline;
}
.c-info__logout {
	display: inline-block;
}

@media (min-width: 480px) {
	h1 {
		max-width: none;
	}

	.c-info {
		max-width: none;
	}
}

.u-flat-button {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	color: inherit;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
